 <!--
 show item name and description and small image
 show all the requests with name/avatar of renter, and status
  -->
<div class="wrapper">


  <div class="col-xs-12 col-sm-3 text-center">
    <div class="xmasItemPhoto delimiter_bloc_right">
      <%= cl_image_tag @xmas_item.photo, style:"width: 100%; box-shadow: 2px 2px 3px gray" %>
    </div>
  </div>


  <div class="col-xs-12 col-sm-9">

       <div class="delimiter_bloc_bottom">
        <%= link_to "Return to my items", owner_xmas_items_path %>
      </div>
      <div class="item-infos">
        <h2><%= @xmas_item.name.capitalize %></h2>
        <p>Description: <%= @xmas_item.description.capitalize %></p>
        <p>Location: <%= @xmas_item.address.capitalize%></p>
      </div>
      <div class="delimiter_bloc_bottom">
        <p>Price: <%= @xmas_item.price_per_day%>€/day</p>
      </div>


    <!-- add edit button -->


      <div>
        <p class="price marging"> Requests for <%= @xmas_item.name%>: </p>
        <% @xmas_item.bookings.each do |booking| %>
          <div class="request">
            <div class="request-description">
              <%= booking.user.lastname %>
              <%= booking.user.firstname %>
              asked the item for booking
            <div>
              from <%= booking.start_date %>
              until <%= booking.end_date %>
            </div>
            <div>
              For <%= booking.total_price %>€
            </div>
            </div>

            <div class="request-validation">
              <div>
              <% if booking.status == "Pending"%>
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div>Status : Pending</div>
                  <div>Change status</div>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <ul>
                  <li><%= link_to 'Accept', accept_owner_reservation_path(booking), method: :patch, class:"dropdown-item" %></li>
                  <li><%= link_to 'Decline', decline_owner_reservation_path(booking), class:"dropdown-item" %></li>
                  </ul>
                </div>


                <%end%>
              </div>

            <div class="resquest-status">
              Request status : <%= booking.status %>
            </div>

            </div>
          </div>
        <% end %>
      </div>


  </div>
</div>









