 <!--
 show item name and description and small image
 show all the requests with name/avatar of renter, and status
  -->
<div class="container">
<div class="row paddingtop">


  <div class="col-xs-12 col-sm-3 text-center">
    <div class="owner-xmas-item-photo delimiter_bloc_right">
      <%= cl_image_tag @xmas_item.photo, style:"width: 100%; box-shadow: 2px 2px 3px gray; border-radius: 4px" %>
    </div>
  </div>


    <div class="col-xs-12 col-sm-9">


      <div class="item-infos">
        <h2><%= @xmas_item.name.capitalize %></h2>
        <p>Description: <%= @xmas_item.description.capitalize %></p>
        <p>Location: <%= @xmas_item.address.capitalize%></p>
      </div>
      <div class="delimiter_bloc_bottom">
        <p>Price: <%= @xmas_item.price_per_day%>€/day</p>
      </div>

      <div>
        <p class="price marging"> Requests for <%= @xmas_item.name%>: </p>
        <% @xmas_item.bookings.each do |booking| %>




<!-- BEGINNING REQUEST -->
        <% if booking.status == "pending"%>
          <div class="pending-request filter">
            <div class="request-description">
                  <div>
                    <%= booking.user.lastname %>
                    <%= booking.user.firstname %>
                    asked the item for booking
                  </div>
                  <div>
                    from <%= booking.start_date %>
                    until <%= booking.end_date %>
                  </div>
                  <div>
                    For <%= booking.total_price %>€
                  </div>

                </div>
            <div class="request-validation">
              <% if booking.status == "pending"%>
                <button class="btn btn-success">
                  <%= link_to 'accept', accept_owner_reservation_path(booking), method: :patch, style:'color:white'%>
                </button>
                <button class="btn btn-danger">
                 <%= link_to 'decline', decline_owner_reservation_path(booking), method: :patch, style:'color:white'%>
                </button>
              <%end%>
            </div>
            <div class="resquest-status">
              <div>Request status : <%= booking.status %></div>
            </div>
          </div>

        <% elsif booking.status == "accept"%>
            <div class="accepted-request filter">
            <div class="request-description">
            <div>
              <%= booking.user.lastname %>
              <%= booking.user.firstname %>
              asked the item for booking
            </div>
            <div>
              from <%= booking.start_date %>
              until <%= booking.end_date %>
            </div>
            <div>
              For <%= booking.total_price %>€
            </div>

            </div>
            <div class="request-validation">
              <% if booking.status == "pending"%>
                <button class="btn btn-success">
                  <%= link_to 'accept', accept_owner_reservation_path(booking), method: :patch, style:'color:white'%>
                </button>
                <button class="btn btn-danger">
                 <%= link_to 'decline', decline_owner_reservation_path(booking), method: :patch, style:'color:white'%>
                </button>
              <%end%>
            </div>
            <div class="resquest-status">
              <div>Request status : <%= booking.status %></div>
            </div>
          </div>

          <% else %>
            <div class="declined-request filter">
            <div class="request-description">
            <div>
              <%= booking.user.lastname %>
              <%= booking.user.firstname %>
              asked the item for booking
            </div>
            <div>
              from <%= booking.start_date %>
              until <%= booking.end_date %>
            </div>
            <div>
              For <%= booking.total_price %>€
            </div>

            </div>
            <div class="request-validation">
              <% if booking.status == "pending"%>
                <button class="btn btn-success">
                  <%= link_to 'accept', accept_owner_reservation_path(booking), method: :patch, style:'color:white'%>
                </button>
                <button class="btn btn-danger">
                 <%= link_to 'decline', decline_owner_reservation_path(booking), method: :patch, style:'color:white'%>
                </button>
              <%end%>
            </div>
            <div class="resquest-status">
              <div>Request status : <%= booking.status %></div>
            </div>
          </div>
          <%end%>
<!-- END REQUEST -->

        <% end %>
      </div>
    </div>

</div>
</div>








