 <!--
 show item name and description and small image
 show all the requests with name/avatar of renter, and status
  -->
<div class="container">
<div class="row">


  <div class="col-xs-12 col-sm-3 text-center">
    <div class="xmasItemPhoto delimiter_bloc_right">
      <%= cl_image_tag @xmas_item.photo, style:"width: 100%; box-shadow: 2px 2px 3px gray" %>
    </div>
  </div>


  <div class="col-xs-12 col-sm-9">


      <div class="item-infos">
        <h2><%= @xmas_item.name.capitalize %></h2>
        <p>Description: <%= @xmas_item.description.capitalize %></p>
        <p>Location: <%= @xmas_item.address.capitalize%></p>
      </div>
      <div class="delimiter_bloc_bottom">
        <p>Price: <%= @xmas_item.price_per_day%>€/day</p>
      </div>


    <!-- add edit button -->


      <div>
        <p class="price marging"> Requests for <%= @xmas_item.name%>: </p>
        <% @xmas_item.bookings.each do |booking| %>
          <div class="request">
            <div class="request-description">
              <%= booking.user.lastname %>
              <%= booking.user.firstname %>
              asked the item for booking
            <div>
              from <%= booking.start_date %>
              until <%= booking.end_date %>
            </div>
            <div>
              For <%= booking.total_price %>€
            </div>
            </div>

            <div class="request-validation">

              <% if booking.status == "pending"%>
                <button class="btn btn-success">
                  <%= link_to 'accept', accept_owner_reservation_path(booking), method: :patch%>
                </button>

                <button class="btn btn-danger">
                 <%= link_to 'decline', decline_owner_reservation_path(booking), method: :patch%>
                </button>

                <%end%>
            </div>

            <div class="resquest-status">
              Request status : <%= booking.status %>
            </div>

          </div>
        </div>
        <% end %>

  </div>
</div>
</div>








