<%= content_for(:before_js) do %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<% end  %>


<div class="container">

  <h1 class="text-center ml6">
    <span class="text-wrapper">
      <span class="letters christmas-red-color">Your Whish List </span>
    </span>
  </h1>


  <div class="row">
    <% @bookings.each do |booking| %>
      <div class="col-xs-12 col-sm-4">

          <div class="card-renter-container">
            <% bg_img_path = cl_image_path booking.xmas_item.photo, height: 300, width: 400, crop: :fill  %>
            <%= link_to booking_path(booking) do %>
              <div class="card-renter" style="
                background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                url('<%= bg_img_path %>')">
                <div class="card-renter-name"><%= booking.xmas_item.name %></div>
                <div class="card-renter-address">
                  <h2><%= booking.xmas_item.address %></h2>
                </div>
                <%= cl_image_tag booking.xmas_item.user.avatar, height: 50, crop: :fill, class:"  card-renter-owner" %>
              </div>
            <% end %>

            <div class="card-renter-links">

              <% if booking.status == "accept" %>
                <p class="btn btn-success card-renter-button"> Accepted</p>
              <% elsif booking.status == "pending"  %>
                <p class="btn btn-primary card-renter-button"> Pending</p>
              <% else  %>
                <p class="btn btn-danger card-renter-button"> Declined</p>
              <% end  %>

              <%= link_to booking_path(booking) , class:"btn btn-danger card-renter-button", method: :delete, data: { confirm: 'Are you sure ?'} do %>
                <i class="fa fa-trash" aria-hidden="true"></i> delete
              <% end  %>

            </div>
          </div>

      </div>
    <% end %>
  </div>

</div>
