<div class="row">

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="xmasItemPhoto">
       <%= cl_image_tag @booking.xmas_item.photo, height: 600, width: 500, crop: :fill %>
     </div>
   </div>

   <div class="col-xs-12 col-sm-6">
    <div class="description">
      <h2><%= @booking.xmas_item.name.capitalize %></h2>
      <div class="avatar">
       <%= cl_image_tag @booking.xmas_item.user.avatar, height: 50, width: 50, crop: :fill%>
       </div>
      <p><%= @booking.xmas_item.description.capitalize %></p>
      <p><i class="fa fa-map-marker" aria-hidden="true"></i><%= @booking.xmas_item.address.capitalize%></p>
    </div>
    <div class="price">
      <p>Total Price: <%= @booking.total_price%>€</p>
      <p>Price per day: <%= @booking.xmas_item.price_per_day%>€</p>
      <p>Number of day: <%= (@booking.end_date - @booking.start_date + 1).to_i%></p>
    </div>


    <%= link_to "See my reservations", bookings_path, class:"btn btn-primary" %>
  </div>
</div>

