 <div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-6 text-center">
      <div class="xmasItemPhoto delimiter_bloc_right">
       <%= cl_image_tag @xmas_item.photo, height: 600%>
     </div>
   </div>

   <div class="col-xs-12 col-sm-6">
    <div class="container_right">
     <div class="description">
      <h2><%= @xmas_item.name.capitalize %></h2>
      <div class="avatar">
       <%= cl_image_tag @xmas_item.user.avatar, height: 50, width: 50, crop: :fill%>
     </div>
     <div class="name">
       <%= cl_image_tag @xmas_item.user.firstname, height: 50, width: 50, crop: :fill%>
     </div>
     <p><%= @xmas_item.description.capitalize %></p>
     <p><i class="fa fa-map-marker" aria-hidden="true"></i><%= @xmas_item.address.capitalize%></p>
   </div>
   <div class="price delimiter_bloc_bottom">
    <p>Price: <%= @xmas_item.price_per_day%>€</p>
  </div>

  <div class="bookingform">
    <%= render "bookings/new" %>
  </div>

</div>

</div>
</div>
