<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>XMAS</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">

      <%= render "shared/navbar" %>
      <%= render 'shared/flashes' %>

      <%= yield %>
      <%= yield :before_js %>
      <%= javascript_include_tag 'application' %>
      <%= yield :after_js %>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>


